extends ../layout

block content
  .container
    h1 Login
    if errors
      ul.errors
        each error in errors
          li= error.msg
    form(method="POST" action="/auth/login")
      .form-group
        label(for="username") Username:
        input(type="text" name="username" id="username" value=username required)
      .form-group
        label(for="password") Password:
        input(type="password" name="password" id="password" required)
      button(type="submit") Login
    p
      a(href="/auth/register") Register
