extends ../layout

block content
    .container
        h1 Movie Details
        .movie-detail
            .placeholder
                h3 Movie details page
                p Detailed movie information will be displayed here
                a.button(href="/movies") Back to Movies