extends ../layout

block content
    .container
        h1 Edit Movie

        //Daniel add stuff right here
        p Edit functionality will be available when database is connected
        a.button(href="/movies") Back to Movies